@model Hunarmis.Models.FilterModel
@{
    ViewBag.Title = "Participant Call Status";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Participant Call Details";
    ViewBag.SemiTitleLink = "/Home/CallStatus";
    string IsSadmin = string.Empty;
}

<style>
    .table th {
        font-size: 14px;
        background: #fff;
    }

    .table td {
        font-size: 13px;
    }

    .dataTables_filter, .dataTables_length {
        margin-bottom: 15px;
    }

    .actives2 {
        color: #009CFF !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }

    .dt-input {
        margin-right: 5px;
    }

    table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
        padding: 9px 6px !important;
    }

    .panel {
        min-height: 500px;
    }
    div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button {
        color: #fff !important
    }
</style>

<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <p class="bord-btm pad-ver text-main text-bold">
                            @ViewBag.Title
                            <span class="downs-btn" id="div-download"></span>
                        </p>
                    </div>

                    <fieldset class="border rounded-3 p-3">
                        <legend class="float-none w-auto px-2">Search By  </legend>


                        @using (Html.BeginForm("GetCallStatus", "Home", FormMethod.Get, new { @class = "", @id = "formid", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
                        {
                            <div class="col-md-12">@Html.Partial("_Alerts")</div>
                            <div class="panel-bodys">
                                <div class="bg-light rounded h-100 p-4">
                                    <div class="basic-search">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.FromDt, htmlAttributes: new { @class = "control-label" })
                                            <div class="position-relative form-group">
                                                @Html.EditorFor(m => m.FromDt, null, new { htmlAttributes = new { @class = "form-control col-sm-12 datepickermonth" } })
                                                @Html.ValidationMessageFor(model => model.FromDt, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.ToDt, htmlAttributes: new { @class = "control-label" })
                                            <div class="position-relative form-group">
                                                @Html.EditorFor(m => m.ToDt, null, new { htmlAttributes = new { @class = "form-control col-sm-12 datepickermonth" } })
                                                @Html.ValidationMessageFor(model => model.ToDt, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.LabelFor(model => model.BatchId, htmlAttributes: new { @class = "control-label" })
                                            <div class="position-relative form-group">
                                                @Html.DropDownListFor(m => m.BatchId, new List<SelectListItem>(), null, new { @class = "form-select col-sm-12 select2" })
                                                @Html.ValidationMessageFor(model => model.BatchId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label" })
                                            <div class="position-relative form-group">
                                                @Html.DropDownListFor(m => m.UserId, Hunarmis.Manager.CommonModel.GetUserList(), null, new { @class = "form-select col-sm-12 select2" })
                                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="position-relative form-group" style="margin-top:8%;">
                                                <span class="check-spacer">
                                                    <input type="submit" name="btnsubmit" id="btnsubmit" class="btn-register" value="Filter" />
                                                </span>
                                                <span class="check-spacer">
                                                    <a href="~/Home/CallStatus" class="btn-reset"><i class="fa fa-refresh"></i></a>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="breaker"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </fieldset>

                    <div class="card-body">
                        <div class="content-manage">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="subdata"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Custom/Master.js"></script>

    <script>
        $(document).ready(function () {

            $("#FromDt").datepicker({
                //defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                onClose: function (selectedDate) {
                    $("#ToDt").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#ToDt").datepicker({
                //defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                onClose: function (selectedDate) {
                    $("#FromDt").datepicker("option", "maxDate", selectedDate);
                }
            });

            //BindBatchList("BatchId", 0, true);
            BindModuleWiseBatches("BatchId", "", 1, '0', 0, 0)

            $("#formid").submit(function (e) {
                e.preventDefault();
                BindData();
            });

            setTimeout(function () { BindData(); }, 2000);

        });

        function BindData() {
            debugger;
            $("#subdata").html('');
            var filtermodel = new Object();
            filtermodel.FromDt = $('#FromDt').val() == '' ? '' : $('#FromDt').val();
            filtermodel.ToDt = $('#ToDt').val() == '' ? '' : $('#ToDt').val();
            filtermodel.BatchId = $('#BatchId').val() == '' ? '' : $('#BatchId').val();
            filtermodel.UserId = $('#UserId').val() == '' ? '' : $('#UserId').val();
            var formData = $('#formid').serialize();

            $.ajax({
                type: "Get",
                url: document.baseURI + "/Home/GetCallStatus",
                data: filtermodel,//JSON.stringify({ 'Roles': '' }),
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tbl')) {
                            $("#tbl").dataTable().fnDestroy();
                        }
                        table = $('#tbl').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            "dom": '<"pull-left"f><"pull-right"l>tip',
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Download</span>', title: 'Call Status Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'Call Status Lists',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '300px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html('<h6 class="text-danger">' + res.Data+'</ h6>');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

                    //function QuesResDisplay(PartQuestionId,PartId, Y, M) {
                    //    $.post("/Participant/QuesResponse", { data:  }, function (result) {
                    //    });
                    //}

    </script>
}



