@using Hunarmis.Manager
@{
    ViewBag.Title = "Dashboard";

    var dt = SPManager.SP_Dashboard_TopLegend();

    //var dtGraph = SPManager.SP_Dashboard_Graphs();

}
@using Hunarmis.Helpers
<style>
    body {
        background: #F5F5F5 !important;
        height: 100vh;
    }

    img {
        width: 100%;
        height: auto
    }

    .bgr-icon {
        width: 26px;
        margin-top: -4px
    }

    .dashboard-box {
        margin: 15px 15px 5px;
        display: flex;
        gap: 2%;
        flex-wrap: wrap;
    }

    .d-box {
        flex-basis: 23.4%;
        border-radius: 6px;
        background: #fff;
        padding-bottom: 12px;
        margin-bottom: 10px;
        box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    }

        .d-box p, .txt-white p {
            float: right;
            margin: 13px 10px 0 0;
            font-size: 22px;
            padding: 6px 10px;
            color: #242424;
            width: 45px;
            text-align: center;
            border-radius: 6px;
        }

        .d-box h3 {
            margin: 15px 10px 19px;
            font-size: 30px;
            color: #495057;
        }

        .d-box span {
            padding-left: 10px;
            font-size: 14px;
            color: #9E9AA3;
            text-transform: uppercase;
        }

    .dbg1 {
        background: #8673F6
    }

    .dbg2 {
        background: #6A4566
    }

    .dbg3 {
        background: #4397C7
    }

    .dbg4 {
        background: #D89428
    }

    .dbg5 {
        background: #4765CA
    }

    .bgr1 {
        background: #E5E2F6;
        color: #8A77F4 !important
    }

    .bgr2 {
        background: #D6F0ED;
        color: #3EB7A1 !important
    }

    .bgr3 {
        background: #DAECFA;
        color: #299CDB !important;
    }

    .bgr4 {
        background: #FFF2DB;
        color: #F7B84B !important;
    }

    .bgr5 {
        background: #DBE0EF;
        color: #405189 !important;
    }

    .data-box-1, .data-box-2, .data-box-3 {
        display: flex;
        gap: 25px;
        margin: 0 15px 15px;
    }

    .boxe {
        background: #fff;
        border-radius: 10px;
        flex: 1;
        box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    }

    .data-box-1 h2, .data-box-2 h2, .data-box-3 h2 {
        font-size: 19px;
        font-weight: bold;
        text-transform: capitalize;
        color: #6A4566;
        padding: 0 15px
    }

    .data-box-1 p, .data-box-2 p, .data-box-3 p {
        padding: 0 15px;
    }

    .flx2 {
        flex: 2
    }

    .flx1 {
        flex: 1
    }

    .tabber {
        float: right;
        background: #F4F4F4;
        border-radius: 20px;
        margin-top: -6px;
    }

        .tabber a {
            display: inline-block;
            padding: 12px 14px;
            color: #000000;
            font-weight: normal;
            font-size: 14px;
        }

    .act {
        background: #8A77F4;
        color: #fff !important;
        border-radius: 20px;
    }

    .navbar-top-links > li > a:not(.mainnav-toggle) > i {
        color: #040404
    }

    #page-head {
        display: none;
    }

    #navbar-container {
        background-color: #fff;
    }

    .navbar-top-links > li > a {
        color: #040404;
        border-left: 1px solid #ECF0F5 !important;
    }

    .navbar-top-links .tgl-menu-btn > a, .navbar-top-links .tgl-menu-btn > a:hover {
        color: #040404;
    }

        .navbar-top-links .tgl-menu-btn > a:focus {
            color: #040404;
        }

    .navbar-top-links:first-child {
        margin-left: 0px !important;
    }

    .navbar-top-links .tgl-menu-btn > a, .navbar-top-links .tgl-menu-btn > a:hover {
        color: #040404;
    }

    #container .badge:not(.badge-default) {
        color: #040404;
    }

    .navbar-top-links > .open > a, .navbar-top-links > .open > a:focus {
        background: #8A77F4 !important
    }

    .navbar-top-links > li > a:hover {
        background: #8A77F4 !important
    }

    .navbar-brand {
        padding: 0 5px;
    }

    .dashboard-title {
        font-size: 24px;
        position: absolute;
        top: 13px;
        z-index: 999;
        left: 55px;
        color: #5A3653
    }

    .brand-text {
        color: #454845;
        margin-left: 10px;
    }

    .navbar-header:before {
        background: #fff !important
    }

    .count-box {
        display: flex;
        margin-left: 10px
    }

    .d-box .count-box h3 {
        margin: 15px 2px 19px;
    }

    .form-box-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .highcharts-label text, .highcharts-legend-item text, .highcharts-axis-labels text, .highcharts-axis text {
        color: #000 !important;
        font-size: 12px !important;
        font-weight: normal !important;
        fill: #000 !important;
    }

    .highcharts-text-outline {
        stroke: none !important;
        fill:#000 !important;
    }
</style>
<div class="dashboard-box">
    @if (dt != null && dt.Rows.Count > 0)
    {
        <div class="d-box">
            <p class="bgr1">
                <img src="~/Content/images/enrollment.png" alt="Enrollments" class="bgr-icon" />
            </p>
            <h3 class="count">@dt.Rows[0]["Enrollments"]</h3>
            <span>Enrollments</span>
        </div>
        <div class="d-box">
            <p class="bgr2">
                <img src="~/Content/images/trainign.png" alt="Training Completions" class="bgr-icon" />
            </p>
            <h3 class="count">@dt.Rows[0]["TrainingCompletions"]</h3>
            <span>Training Completions</span>
        </div>
        <div class="d-box">
            <p class="bgr3">
                <img src="~/Content/images/certified.png" alt="Learners certified" class="bgr-icon" />
            </p>
            <h3 class="count">@dt.Rows[0]["LearnersCertified"]</h3>
            <span>Learners certified</span>
        </div>
        <div class="d-box">
            <p class="bgr4">
                <img src="~/Content/images/placement.png" alt="placement" class="bgr-icon" />
            </p>
            <h3 class="count">@dt.Rows[0]["Placements"]</h3>
            <span>Placements</span>
        </div>
        @*<div class="d-box" style="display:none">
                <p class="bgr5">
                    <img src="~/Content/images/center.png" alt="center" class="bgr-icon" />
                </p>
                <div class="count-box">
                    <h3 class="count">
                        @dt.Rows[0]["TrainingCenters"]
                    </h3>
                    <h3>/</h3>
                    <h3 class="count">@dt.Rows[0]["TrainersEngaged"]</h3>
                </div>
                <span>Centers</span>
            </div>*@
    }
</div>

<div class="data-box-1">
    @*<div class="boxe flx1">
            <div class="form-box-select">
                <h2 style="max-width: 66%;width: 100%;font-size:17px;">
                    Number of participants
                </h2>
                <select id="ddlSection1" class="form-control">
                    <option value="Location">Location</option>
                    <option value="Course">Course</option>
                </select>
            </div>

            <div>
                <figure class="highcharts-figure" id="figureSection1_Location">
                    <div id="parent-container">
                        <div id="containerSection1_Location"></div>
                    </div>
                </figure>
                <figure class="highcharts-figure" id="figureSection1_Course" style="display:none">
                    <div id="parent-container">
                        <div id="containerSection1_Course"></div>
                    </div>
                </figure>
            </div>
        </div>*@

    <div class="boxe flx1">
        <div class="form-box-select">
            <h2 style="max-width: 66%;width: 100%;font-size:17px;">
                Number of participants
            </h2>
            <select id="ddlSection2" class="form-control">
                <option value="Location">Location</option>
                <option value="Course">Course</option>
            </select>
        </div>
        <div>
            <figure class="highcharts-figure" id="figureSection2_Location">
                <div id="parent-container">
                    <div id="containerSection2_Location"></div>
                </div>
            </figure>
            <figure class="highcharts-figure" id="figureSection2_Course" style="display:none">
                <div id="parent-container">
                    <div id="containerSection2_Course"></div>
                </div>
            </figure>
        </div>
    </div>
</div>



<div class="data-box-2">
    <div class="boxe flx1">
        <div class="form-box-select">
            <h2 style="max-width: 66%;width: 100%;font-size:17px;">
                Average Salary
            </h2>
            <select id="ddlSection3" class="form-control">
                <option value="Location">Location</option>
                <option value="Course">Course</option>
                <option value="Industry">Industry</option>
            </select>
        </div>
        <div>
            <figure class="highcharts-figure" id="figureSection3_Location">
                <div id="parent-container">
                    <div id="containerSection3_Location"></div>
                </div>
            </figure>
            <figure class="highcharts-figure" id="figureSection3_Course" style="display:none">
                <div id="parent-container">
                    <div id="containerSection3_Course"></div>
                </div>
            </figure>
            <figure class="highcharts-figure" id="figureSection3_Industry" style="display:none">
                <div id="parent-container">
                    <div id="containerSection3_Industry"></div>
                </div>
            </figure>
        </div>
    </div>
</div>


@*<div style="padding: 0px 20px 20px;">
    <div style="font-size: 21px; color: #6a4566; font-weight: 700;">
        Participant Profile
    </div>
    <hr style="border: 4px double #f9841b; margin: 0px; " />
</div>

<div class="data-box-2">

    <div class="boxe flx2">
        <h2>
            Age Group Wise Distribution
        </h2>

        <div>
            <figure class="highcharts-figure">
                <div id="parent-container">
                    <div id="containerSection4_AgeGroup"></div>
                </div>
            </figure>
        </div>
    </div>

    <div class="boxe flx2">
        <h2>
            Location Wise Distribution
        </h2>

        <div>
            <figure class="highcharts-figure">
                <div id="parent-container">
                    <div id="containerSection4_Location"></div>
                </div>
            </figure>
        </div>
    </div>

</div>*@


<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
    $('.count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

    $(document).ready(function () {
        $('.tab-btn').on('click', function () {
            $('.tab-btn').removeClass('act');
            $(this).addClass('act');
        })


        $("#ddlSection1").change(function (e) {
            if ($(this).val() == 'Location') {
                $('#figureSection1_Course').hide();
                $('#figureSection1_Location').show();
            } else {
                $('#figureSection1_Course').show();
                $('#figureSection1_Location').hide();
            }
        });

        $("#ddlSection2").change(function (e) {
            if ($(this).val() == 'Location') {
                $('#figureSection2_Course').hide();
                $('#figureSection2_Location').show();
            } else {
                $('#figureSection2_Course').show();
                $('#figureSection2_Location').hide();
            }
        });

        $("#ddlSection3").change(function (e) {
            if ($(this).val() == 'Location') {
                $('#figureSection3_Course').hide();                
                $('#figureSection3_Location').show();
                $('#figureSection3_Industry').hide();
            } else if ($(this).val() == 'Course') {
                $('#figureSection3_Course').show();
                $('#figureSection3_Location').hide();
                $('#figureSection3_Industry').hide();
            } else {
                $('#figureSection3_Course').hide();
                $('#figureSection3_Location').hide();
                $('#figureSection3_Industry').show();
            }
        });


        //section1();
        section2();
        section3();
        //section4();
    });

    function escapeRegExp(str) {
        return str.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
    }

    function replaceAll(str, find, replace) {
        return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
    }

    function section1() {
        $.ajax({
            url: '@Url.Action("GetDashboard", "home")',
            data: { mode: 1 },
            async: false,
            success: function (result) {
                console.log(result);
                if (result.IsSuccess) {
                    var data = JSON.parse(result.Data)[0];

                    Graph(JSON.parse(data.CourseJsonData), 'containerSection1_Course', 'column', '', 'Course', '', 'CourseName');
                    Graph(JSON.parse(data.LocationJsonData), 'containerSection1_Location','column', '', 'Location', '', 'DistrictName');

                }
            }
        });
    }

    function section2() {
        $.ajax({
            url: '@Url.Action("GetDashboard", "home")',
            data: { mode: 2 },

            async: false,
            success: function (result) {
                console.log(result);
                if (result.IsSuccess) {
                    var data = JSON.parse(result.Data)[0];

                    Graph(JSON.parse(data.CourseJsonData), 'containerSection2_Course', 'stack-bar', '', 'Course', '', 'CourseName', 'Gender');
                    Graph(JSON.parse(data.LocationJsonData), 'containerSection2_Location', 'stack-bar', '', 'Location', '', 'DistrictName', 'Gender');
                }
            }
        });
    }

    function section3() {
        $.ajax({
            url: '@Url.Action("GetDashboard", "home")',
            data: { mode: 3},
            async: false,
            success: function (result) {
                console.log(result);
                if (result.IsSuccess) {
                    var data = JSON.parse(result.Data)[0];
                    Graph(JSON.parse(data.CourseJsonData), 'containerSection3_Course', 'column-group', '', 'Course', '', 'CourseName', 'Gender');
                    Graph(JSON.parse(data.LocationJsonData), 'containerSection3_Location', 'column-group', '', 'Location', '', 'DistrictName', 'Gender');
                    Graph(JSON.parse(data.IndustryJsonData), 'containerSection3_Industry', 'column-group', '', 'Industry', '', 'IndustryName', 'Gender');
                }
            }
        });
    }

    function section4() {
        $.ajax({
            url: '@Url.Action("GetDashboard", "home")',
            data: { mode: 4},
            async: false,
            success: function (result) {
                console.log(result);
                if (result.IsSuccess) {
                    var data = JSON.parse(result.Data)[0];
                    Graph(JSON.parse(data.AgeGroupJsonData), 'containerSection4_AgeGroup', 'column-group', '', 'Age', '', 'AgeRange', 'Gender');
                    Graph(JSON.parse(data.LocationJsonData), 'containerSection4_Location', 'pie', '', 'Location', '', 'DistrictName', '');                   
                }
            }
        });
    }

    function Graph(jsonData, selector, graphType ='column', title, xAxis, yAxis, property, groupProperty) {
        console.log(jsonData);
        var data = [];
        var categories = [];
        var series = [];
        var totals = [];
        var originalGraphType = graphType;
        categories = [...new Set(jsonData.map(item => item[property]))];

        if (graphType == 'bar-group') {
            graphType = 'bar';

            //categories = [...new Set(jsonData.map(item => item[property]))];
            const groups = [...new Set(jsonData.map(item => item[groupProperty]))];

            series = groups.map(key => ({
                name: key,
                data: categories.map(category => {
                    const item = jsonData.find(d => d[property] === category && d[groupProperty] === key);
                    return item ? item.Total : null;
                })
            }));

        }
        else if (graphType == 'stack-bar') {
            graphType = 'bar';
            // Prepare the series data
            const seriesData = {};
            //categories = [...new Set(jsonData.map(item => item[property]))];
            console.log(categories);
            jsonData.forEach(item => {
                if (!seriesData[item[groupProperty]]) {
                    seriesData[item[groupProperty]] = [];
                }
                seriesData[item.Gender].push({
                    name: item[property],
                    y: item.Total,
                    percentage: item.Percentage
                });
            });

            // Convert series data into Highcharts format
            series = Object.keys(seriesData).map(gender => ({
                name: gender,
                data: seriesData[gender]
            }));

            // Calculate total per course
            totals = {};
            jsonData.forEach(item => {
                if (!totals[item[property]]) {
                    totals[item[property]] = 0;
                }
                totals[item[property]] += item.Total;
            });

            console.log(totals);
        }
        else if(graphType == 'column-group') {
            graphType = 'column';


            //categories = [...new Set(jsonData.map(item => item[property]))];
            const groups = [...new Set(jsonData.map(item => item[groupProperty]))];

            series = groups.map(key => ({
                name: key,
                data: categories.map(category => {
                    const item = jsonData.find(d => d[property] === category && d[groupProperty] === key);
                    return item ? item.Total : null;
                })
            }));
            console.log(series);
        }
        else if (graphType == 'pie') {

            //categories = jsonData.map(item => item[property]);
            const totals = jsonData.map(item => item.Total);

            var seriesData = jsonData.map(item => ({
                name: item[property],
                y: item.Percentage,
                total: item.Total // Add total to each data point
            }));
            series = [{
                name: 'Percentage',
                colorByPoint: true,
                data: seriesData
            }];

            console.log(series);
        }
        else {

            //categories = jsonData.map(item => item[property]);
            const totals = jsonData.map(item => item.Total);

            series = [{
                showInLegend: false,
                name: property,
                data: totals
            }];
            console.log(series);
        }

        //for (var i = 0; i < jsonData.length; i++) {
        //    data.push({
        //        name: jsonData[i][property],
        //        y: jsonData[i].Total
        //    });
        //}
        colors = ['#f9841b', '#0d71c9', '#d73447', '#019968', '#5f0f40', '#023e8a', '#003566', '#2ec4b6', '#f4978e', '#2c6e49', '#ffba08', '#f95738', '#d4d700'];
        Highcharts.chart(selector, {
            chart: {
                type: graphType,
                backgroundColor: 'rgba(0,0,0,0)',
                color: '#fff',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                innerSize: '50%' // Make it a donut chart
            },
            title: {
                text: title,
                align: 'left',
                style: {

                    //display: 'none'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                series: {
                    stacking: originalGraphType=='stack-bar' ? 'normal' : null,
                    shadow: false,
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.0f}',
                        inside: originalGraphType == 'stack-bar', // Set this to false to place labels outside
                        crop: originalGraphType == 'stack-bar', // Prevent labels from being cropped
                        overflow: 'none', // Prevent labels from overflowing the chart area
                        format: '{point.y:.0f}',
                        //formatter: function () {
                        //    // Automatically place labels inside or outside
                        //    if (this.y < 25) { // Threshold (you can adjust this)
                        //        return `<span style="color:black;">${this.y}</span>`;
                        //    } else {
                        //        return `<span style="color:white;">${this.y}</span>`;
                        //    }
                        //},
                        style: {
                            fontSize: 12,
                            borderWidth: 0
                            //display: 'none'
                        }
                    },

                },
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}%'
                    },
                    showInLegend: true
                },
                //column: {
                //    dataLabels: {
                //        enabled: true,
                //        inside: false,
                //        formatter: function () {
                //            return this.y;
                //        }
                //    }
                //}
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                //pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +               '<b>{point.y:.0f}</b><br/>'
                formatter: function () {
                    console.log(this);
                    // Check if point.total is not null or undefined
                    const value = this.point.options && this.point.options.total
                        ? this.point.options.total
                        : this.point.y;

                    return `<span style="font-size:12px">${this.series.name ? this.series.name : this.point.name}</span><br/>` +
                        `<span style="color:${this.point.color}">${this.point.name ? this.point.name : this.x}</span>: ` +
                        `<b>${value}</b><br/>`;
                }
            },
            colors: colors,
            xAxis: {
                categories: categories,
                labels: {
                    //style: {
                    //    fontSize: 12
                    //},
                },
            },
            yAxis: {
                labels: {
                    //style: {
                    //    fontSize: 12
                    //},
                },
                title: {
                    text: yAxis,
                    //style: {
                    //    fontSize: 12
                    //},
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.color
                        ) || 'gray'
                    },
                    formatter: function () {
                        console.log(this)
                        return this.total;
                    }
                }
            },
            series: series
        });

    }

    function genderGraph() {
        @*jsonData = JSON.parse(replaceAll('@dtGraph.Rows[0]["GenderJsonData"]', '&quot;', '"'));*@
        jsonData = [];
        console.log(jsonData);
        var data = [];
        for (var i = 0; i < jsonData.length; i++) {
            data.push([jsonData[i].Gender, jsonData[i].Total, jsonData[i].Percentage]);
        }

        chart = Highcharts.chart('containerGender', {
            title: {
                text: 'Gender',
                align: 'center',
                style: {
                    display: 'none'
                }
            },
            credits: {
                enabled: false
            },
            //subtitle: {
            //    useHTML: true,
            //    text: getSubtitle(),
            //    floating: true,
            //    verticalAlign: 'middle',
            //    y: 30
            //},
            legend: {
                enabled: true
            },
            //tooltip: {
            //    valueDecimals: 0,
            //    valueSuffix: ' Participaints'
            //},
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +
                    '<b>{point.y:.2f}({point.percentage:.2f}%)</b> of total<br/>'
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    colorByPoint: true,
                    type: 'pie',
                    size: '100%',
                    innerSize: '50%',
                    dataLabels: {
                        enabled: true,
                        crop: false,
                        distance: '-10%',
                        style: {
                            fontWeight: 'bold',
                            fontSize: '16px'
                        },
                        connectorWidth: 0
                    }
                }
            },
            colors: ['#ea599f', '#6ec9ee', '#8a80bc'],
            series: [
                {
                type: 'pie',
                    name: 'Gender',
                    data: data
                }
            ]
        });

    }





</script>
