@using System.Data
@using System.Text.RegularExpressions;
@using Hunarmis.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
        padding-right: 0px !important;
    }

    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date,
    table.dataTable td.dt-type-numeric,
    table.dataTable td.dt-type-date {
        text-align: left !important;
    }

    .row-disabled {
        /*background-color: forestgreen !important;*/
        color: #000;
        pointer-events: none;
        width: 100%;
    }
</style>
<h4 class="text-capitalize text-center text-success"></h4>
<div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="tbl">
            <thead class="text-center">
                <tr>
                    <th class="text-center tblth">Srno.</th>
                    <th class="text-center tblth">Reg.ID</th>
                    <th class="text-center tblth">Center Name</th>
                    <th class="text-center tblth">Participant Name</th>
                    <th class="text-center tblth">Phone No</th>
                    <th class="text-center tblth">Email ID</th>
                    <th class="text-center tblth">Course</th>
                    <th class="text-center tblth">Batch Code</th>
                    <th class="text-center tblth">Start Date</th>
                    <th class="text-center tblth">End Date</th>
                    <th class="text-center tblth">Duration<br /> (in hours)</th>
                    <th class="text-center tblth">Days Attended</th>

                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1, index = 0;
                        foreach (DataRow dr in dt.Rows)
                        {
                            var ColorCode = !string.IsNullOrWhiteSpace(dr["DurationInHours"].ToString()) ? "#49A31C" : "";
                                <tr>
                                    <td class="text-center">@(srno++)</td>
                                    <td class="text-center text-white"><span class="btnregidcal">@dr["RegID"]</span></td>
                                    <td class="text-left">@dr["TrainingCenter"]</td>
                                    <td class="text-left">@dr["Name"]</td>
                                    <td class="text-center">@dr["PhoneNo"]</td>
                                    <td class="text-left">@dr["EmailID"]</td>
                                    <td class="text-left">@dr["CourseName"]</td>
                                    <td class="text-left">@dr["BatchName"]</td>
                                    <td class="text-center">@dr["AttendanceStartDate"]</td>
                                    <td class="text-center">@dr["AttendanceEndDate"]</td>
                                    <td class="text-center" style="color:@ColorCode; font-size:10px;"><strong>@dr["DurationInHours"]</strong></td>
                                    <td class="text-center">@dr["DaysBetween"]</td>
                                </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>

</div>