@model Hunarmis.Models.FilterModel
@using Hunarmis.Manager
@{
    ViewBag.Title = "Attendance Lists";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Attendance";
    ViewBag.SemiTitleLink = "/Attendance/CreatedAttend";
    Model.FromDt = DateTime.Today.AddDays(-1).ToString("dd-MMM-yyyy");
}
<style>
    #page-content {
        padding: 0px !important;
    }
</style>
<div id="page-content">
    <div class="container-fluid">
        <div class="row mt-20">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-box p-0">
                    <div class="card-body">
                        @using (Html.BeginForm("GetAttendanceList", "Attendance", FormMethod.Post, new { id = "submission-form" }))
                        {
                            <fieldset class="fieldset-card">
                                <div class="row">
                                    <div class="col-md-12">@Html.Partial("_Alerts")</div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BatchId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.BatchId, new List<SelectListItem>(), "Select One", htmlAttributes: new { @class = "form-control select2 onchnagecl", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.BatchId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AttendanceDt, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(m => m.FromDt, null, new { htmlAttributes = new { @placeholder = "Enter the Attendance Date", @class = "datepicker form-control required onchnagecl", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.FromDt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            <div id="div-download" class=""></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div id="subdata">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/CustomValidator.js"></script>*@
    <script src="~/Scripts/Custom/Master.js"></script>
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw2rgDsJqTKA8ern_oI6heqv-xgSLuu1U"></script>*@

    <script>
        (function () {

            //var dateFormat = "dd-M-yy",
            //    from = $("#FromDt")
            //        .datepicker({
            //            defaultDate: "+1w",
            //            changeMonth: true,
            //            numberOfMonths: 1,
            //            dateFormat: 'dd-M-yy',
            //            //minDate: -3,
            //            //maxDate: "1w"
            //        })
            //        .on("change", function () {
            //            to.datepicker("option", "minDate", getDate(this));
            //        }),
            //    to = $("#ToDt").datepicker({
            //        defaultDate: "+1w",
            //        changeMonth: true,
            //        numberOfMonths: 1,
            //        dateFormat: 'dd-M-yy',
            //        // minDate: -3,
            //        //maxDate: "1w"

            //    })
            //    .on("change", function () {
            //        from.datepicker("option", "maxDate", getDate(this));
            //    });

            //function getDate(element) {
            //    var date;
            //    try {
            //        date = $.datepicker.parseDate(dateFormat, element.value);
            //    } catch (error) {
            //        date = null;
            //    }

            //    return date;
            //}


        })
        $(document).ready(function () {

            $("#FromDt").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: 'dd-M-yy',
                //minDate: -3,
                //maxDate: "1w"
            });

            BindGetTainerWiseBatchesList("BatchId", '', '2', '');
            $('select[name="BatchId"]').find('option').eq(0).attr("selected", true).change();
            BindPartData();
            $('.onchnagecl').change(function () {
                BindPartData();
            });

            //$('#submission-form').submit(function (e) {
            //    e.preventDefault();
            //});

        });

        function BindPartData() {
            $("#subdata").html(''); $('#div-download').empty();
            var filtermodel = new Object();
            filtermodel.BatchId = $('#BatchId').val() == '' ? '' : $('#BatchId').val();
            filtermodel.FromDt = $('#FromDt').val() == '' ? '' : $('#FromDt').val();
            // filtermodel.ToDt = $('#ToDt').val() == '' ? '' : $('#ToDt').val();
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Attendance/GetAttendanceList",
                data: filtermodel,
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tbl')) {
                            $("#tbl").dataTable().fnDestroy();
                        }
                        table = $('#tbl').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            paging: false,
                            "dom": '<"pull-left"f><"pull-right"l>tip',
                            //"ordering": false,
                            // order: [[1,0, 'desc']],
                            // pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i> Download</span>', title: 'Participant Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'Participant Lists',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '200px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html('<h5 class="text-danger">' + res.Data + '</h3>');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                    $("#subdata").html('<h5 class="text-danger">' + errormsg + '</h3>');
                }
            });
        }
    </script>
}
