@model Hunarmis.Models.AttendanceModel
@using Hunarmis.Manager
@{
    ViewBag.Title = "Attendance List";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Mark Attendance";
    ViewBag.SemiTitleLink = "/Attendance/CreatedAttend";
}
<style>
    .dataTables_wrapper {
        padding: 5px;
    }

    .card-table thead tr th {
        font-size: 12px !important;
        padding: 10px 10px !important;
        background: #5B2C54;
        color: #fff !important;
    }

    .card-table tbody tr td {
        font-size: 12px !important;
        padding: 10px 10px !important;
    }

    .panel {
        min-height: 500px
    }

    .breakers {
        display: block;
        height: 20px
    }

    .search-box {
        padding: 20px;
        background: #F9F8FF;
        border-radius: 10px;
        margin-bottom: 15px;
    }

        .search-box label {
            margin-left: -10px;
        }

    .tp-mrgn {
        margin-top: -15px
    }

    .btn-group {
        width: 70% !important;
    }
</style>

<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <div class="col-md-2">
                            <p class="bord-btm pad-ver text-main text-bold">
                                <i class="fa fa-list spacerright2"></i>@ViewBag.Title
                            </p>
                        </div>
                        <div class="col-md-2" style="margin-top:5px !important;">
                            <span id="div-download"></span>
                        </div>
                    </div>
                    <div class="content-manage">
                        @using (Html.BeginForm("GetCalendarAttendanceList", "Attendance", FormMethod.Post, new { id = "submission-form" }))
                        {
                            <div class="col-md-12">@Html.Partial("_Alerts")</div>
                            <div class="panel-bodys">
                                <div class="manage-input">
                                    <div class="card1">
                                        <div class="search-box">
                                            <div class="row">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BatchId, htmlAttributes: new { @class = "col-lg-1" })
                                                    <div class="col-lg-5">
                                                        @Html.DropDownListFor(model => model.BatchId, new List<SelectListItem>(), "Select One", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.BatchId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="break"></div>
                            <div id="subdata">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/CustomValidator.js"></script>*@
    <script src="~/Scripts/Custom/Master.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw2rgDsJqTKA8ern_oI6heqv-xgSLuu1U"></script>


    <script>
        $(document).ready(function () {
            BindGetTainerWiseBatchesList("BatchId", '', '2', '');
            $('#BatchId').change(function () {
            });

        });

        function BindPartData() {
            $("#subdata").html('');
            var filtermodel = new Object();
            filtermodel.BatchId = $('#BatchId').val() == '' ? '' : $('#BatchId').val();

            $.ajax({
                type: "Get",
                url: document.baseURI + "/Attendance/GetCalendarAttendanceList",
                data: filtermodel,
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {

                    }
                    else {
                        $("#subdata").html(res.Data);
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }
    </script>
}
