@using System.Data
@using Hunarmis.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}

    <div class="table-responsive">
        <table class="table table-striped nowrap table-bordered dataTable exampleDatatable no-footer" id="tbl">
            <thead class="text-center">
                <tr>
                    <th class="text-center tblth">Srno.</th>
                    <th style="width: 80px" class="text-center tblth">Edit</th>
                    <th class="text-center tblth">Batch Name</th>
                    <th class="text-center tblth">Batch Start Date</th>
                    <th class="text-center tblth">Batch End Date</th>
                    <th class="text-center tblth">No Of Participant</th>
                    <th class="text-center tblth">Course</th>
                    <th class="text-center tblth">Training Center</th>
                    <th class="text-center tblth">Trainer Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1;
                        foreach (DataRow dr in dt.Rows)
                        {
                                <tr class="text-center">
                                    <td>@(srno++)</td>
                                    <td>
                                        <a href="~/Master/BatchMaster?Id=@dr["Id"]" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                    </td>
                                    <td>@dr["BatchName"]</td>
                                    <td>@CommonModel.FormateDtDMY(dr["BatchStartDate"].ToString())</td>
                                    <td>@CommonModel.FormateDtDMY(dr["BatchEndDate"].ToString())</td>
                                    <td>@dr["NoOfParticipant"]</td>
                                    <td>@dr["CourseName"]</td>
                                    <td style="word-break:break-word !important;">@dr["TrainingCenter"]</td>
                                    <td>@dr["TrainerName"]</td>
                                </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right" colspan="4"><strong>Grand Total :</strong> </td>
                    <td class="text-center"><b>@dt.Compute("sum(NoOfParticipant)",string.Empty)</b></td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
    </div>
