@model Hunarmis.Models.CoursesModel
@{
    ViewBag.Title = "Add Courses";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Courses List";
    ViewBag.SemiTitleLink = "/Master/CoursesMaster";
}
<style>
    .btn-register {
        margin-left: -20px !important
    }
</style>
<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <p class="bord-btm pad-ver text-main text-bold">
                            @ViewBag.Title
                        </p>
                    </div>
                    @using (Html.BeginForm("CoursesMaster", "Master", FormMethod.Post, new { @class = "panel-body form-horizontal form-padding loader", @id = "formid" }))
                    {
                        <div class="col-md-12">@Html.Partial("_Alerts")</div>
                        <div class="panel-bodys bg-white">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="col-sm-12">
                                <div class="row mb-3">
                                    <div class="col-sm-5">
                                        <div class="rounded h-100 p-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CourseName, new { @class = "Col-md-2 col-form-label" })<em>*</em>
                                                @Html.EditorFor(m => m.CourseName, null, new { htmlAttributes = new { @placeholder = "Course Name", @class = "form-control col-md-4 required", @required = "required" } })
                                                @Html.ValidationMessageFor(m => m.CourseName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12" style="padding-top: 10px !important;">
                                                <span class="webshow">
                                                    <input type="submit" class="btn-register" name="btnsubmit" id="btnsubmit" value="Submit" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-7">
                                        <div id="subdata" style="height:500px; overflow:scroll;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/Custom/Master.js"></script>*@

<script>
        $(document).ready(function () {

            if ('@Model.Id' != '0') {
                $('#Id').val('@Model.Id');
                $('#CourseName').val('@Model.CourseName');
            }

            $("#btnsubmit").click(function (e) {
                e.preventDefault();
                CUOPT();
            });
            BindData();

        });

        function BindData() {
            $.ajax({
                type: "GET",
                url: document.baseURI + "/Master/GetCoursesMasterlist",
                data: '',
                cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);
                    }
                    $("#subdata").html(res.Data);
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

        function CUOPT() {
            debugger;
            var isvalid = $("#formid").valid();
            var IsCheck = true;

            var formData = new FormData();
            formData.append('Id', $('#Id').val());
            formData.append('CourseName', $('#CourseName').val());

            //formData.append('v_model', JSON.stringify(MS_model));

            if (isvalid && IsCheck) {
                $.ajax({
                    url: document.baseURI + "/Master/CoursesMaster",
                    type: "Post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            BindData();
                            $('#Id').val('0');
                            $('#CourseName').val('');
                            //jQuery.event.trigger("ajaxStop");
                        }
                        else {
                            toastr.error("Error", resp.Message);
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        //jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                return false;
            }

        }

</script>
}
