@model Hunarmis.Models.TrainingCentreModel
@{
    ViewBag.Title = "Add Training Centre";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Training Centre List";
    ViewBag.SemiTitleLink = "/Master/TrainingCentre";
}
<style>
    .btn-register {
        margin-left: -20px !important
    }
</style>
<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <p class="bord-btm pad-ver text-main text-bold">
                            @ViewBag.Title
                           
                        </p>
                    </div>
                    @using (Html.BeginForm("TrainingCenter", "Master", FormMethod.Post, new { @class = "panel-body form-horizontal form-padding loader", @id = "formid" }))
                    {
                        <div class="col-md-12">@Html.Partial("_Alerts")</div>
                        <div class="panel-bodys bg-white">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="col-sm-12">
                                <div class="row mb-3">
                                    <div class="col-sm-5">
                                        <div class="rounded h-100 p-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DistrictID, htmlAttributes: new { @class = "Col-md-2 col-form-label" })
                                                @Html.DropDownListFor(model => model.DistrictID, new List<SelectListItem>(), "Select One", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TrainingAgencyID, htmlAttributes: new { @class = "Col-md-2 col-form-label" })
                                                @Html.DropDownListFor(model => model.TrainingAgencyID, new List<SelectListItem>(), "Select One", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.TrainingAgencyID, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TrainingCenter, htmlAttributes: new { @class = "Col-md-2 col-form-label" })
                                                @Html.EditorFor(m => m.TrainingCenter, null, new { htmlAttributes = new { @placeholder = "Enter the Training Center", @class = "form-control col-md-4 required", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.TrainingCenter, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Location, new { @class = "Col-md-2 col-form-label" })<em>*</em>
                                                @Html.EditorFor(m => m.Location, null, new { htmlAttributes = new { @placeholder = "Enter the Location Name", @class = "form-control col-md-4 required", @required = "required" } })
                                                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12" style="padding-top: 10px !important;">
                                                <span class="webshow">
                                                    <input type="submit" class="btn-register" name="btnsubmit" id="btnsubmit" value="Submit" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-7">
                                        <div class="downoad-excel-btn" id="div-download"></div>
                                        <div id="subdata" style="height:500px; overflow:scroll;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Custom/Master.js"></script>

        <script>
    $(document).ready(function () {

        BindDistrict("DistrictID", '@Model.DistrictID', "1", '1');
        BindTrainingAgency("TrainingAgencyID", '@Model.TrainingAgencyID', false);
        if ('@Model.Id' != '0') {
            $('#Id').val('@Model.Id');
            $('#DistrictID').val('@Model.DistrictID');
            $('#TrainingAgencyID').val('@Model.TrainingAgencyID');
            $('#TrainingCenter').val('@Model.TrainingCenter');
            $('#Location').val('@Model.Location');
        }

        BindData();
        $("#btnsubmit").click(function (e) {
            e.preventDefault();
            CUOPT();
            BindData();
        });

    });

    function BindData() {
        $.ajax({
            type: "GET",
            url: document.baseURI + "/Master/GetTrainingCentreMasterList",
            data: '',
            cache: false,
            success: function (res) {
                if (res.IsSuccess) {
                    $("#subdata").html(res.Data);

                    if ($.fn.dataTable.isDataTable('#tbl')) {
                        $("#tbl").dataTable().fnDestroy();
                    }
                    table = $('#tbl').DataTable({
                        //scrollY: "400px",
                        //scrollX: true,
                        //scrollCollapse: true,
                        //paging: false,
                        // pageLength: 100,
                        //fixedColumns: {
                        //    leftColumns: 1,
                        //    rightColumns: 1
                        //},
                        "dom": '<"pull-left"f><"pull-right"l>tip',
                        order: [[0, 'asc']],
                        buttons: [{
                            extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'Training Centers List',//$('#IDDistrict option:selected').text() +
                            className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                            filename: 'Training Centers List',
                            exportOptions: { modifier: { page: 'all' } }
                        }],
                    });
                    $('.dataTables_filter input[type="search"]').css(
                        { 'width': '200px', 'display': 'inline-block' }
                    );
                    $('#div-download').empty();
                    table.buttons().container().appendTo($('#div-download'));

                }
                $("#subdata").html(res.Data);
            },
            error: function (req, error) {
                if (error === 'error') { error = req.statusText; }
                var errormsg = 'There was a communication error: ' + error;
                //Do To Message display
            }
        });
    }

    function CUOPT() {
        debugger;
        var isvalid = $("#formid").valid();
        var IsCheck = true;

        var formData = new FormData();
        formData.append('Id', $('#Id').val());
        formData.append('DistrictID', $('#DistrictID').val());
        formData.append('TrainingAgencyID', $('#TrainingAgencyID').val());
        formData.append('TrainingCenter', $('#TrainingCenter').val());
        formData.append('Location', $('#Location').val());

        //formData.append('v_model', JSON.stringify(MS_model));

        if (isvalid && IsCheck) {
            $.ajax({
                url: document.baseURI + "/Master/TrainingCenter",
                type: "Post",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (resp) {
                    if (resp.StatusType == "success") {
                        toastr.success("Success", resp.Message);
                        BindData();
                        $('#Id').val('0');
                        $('#DistrictID').val('');
                        $('#TrainingAgencyID').val('');
                        $('#TrainingCenter').val('');
                        $('#Location').val('');
                        //jQuery.event.trigger("ajaxStop");
                    }
                    else {
                        toastr.error("Error", resp.Message);
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    toastr.error("Error", errormsg);
                    //jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }
        else {
            return false;
        }

    }

        </script>
    }
