@using System.Data
@using System.Text.RegularExpressions;
@using Hunarmis.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
        padding-right: 0px !important;
    }

    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date,
    table.dataTable td.dt-type-numeric,
    table.dataTable td.dt-type-date {
        text-align: left !important;
    }
</style>
<div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="tbl">
            <thead class="text-center">
                <tr>
                    <th class="text-center tblth"></th>
                    <th class="text-center tblth">Srno.</th>
                    <th class="text-center tblth">Center Name</th>
                    <th class="text-center tblth">Phone No<br /> <strong class="vw">Call</strong></th>
                    <th class="text-center tblth">Name</th>
                    @*<th class="text-center tblth">Registration ID <br /></th>
        <th class="text-center tblth">Email ID</th>*@
                    @*<th class="text-center tblth">Aadhar <br />Card No.</th>*@
                    <th class="text-center tblth">Batch Name</th>
                    <th class="text-center tblth">Batch Start Date</th>
                    <th class="text-center tblth">Batch End Date</th>
                    <th class="text-center tblth">Last Remark Date</th>
                    <th class="text-center tblth">Last Remark Status</th>
                    <th class="text-center tblth">Last Remark<br /> Reported By</th>
                    <th class="text-center tblth">Last Call Done<br /> Reported Date</th>
                    <th class="text-center tblth">Last Call Done <br />Reported By</th>
                    <th class="text-center tblth">Course</th>
                    <th class="text-center tblth">Assessment<br /> Score</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1;
                        foreach (DataRow dr in dt.Rows)
                        {
                            var calltempst = Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallOnProgress
                                ? Enums.GetEnumDescription(Enums.eTempCallStatus.CallOnProgress) : Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallDone ?
                                Enums.GetEnumDescription(Enums.eTempCallStatus.CallDone)
                                : Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallNotPick ? Enums.GetEnumDescription(Enums.eTempCallStatus.CallNotPick) : "";//dr["CallRemark"].ToString()

                            var csstemp = Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallOnProgress
                                        ? "background:#f18888; color:#fff; pointer-events: none;" : Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallDone ?
                                        "background:#39b54a; color:#fff; pointer-events: none;" :
                                        Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallNotPick ? "background:#ffb300; color:#fff;" : "";

                            var callstatus = Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallOnProgress
                                ? "pointer-events: none;" : Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallDone ?
                                "pointer-events: none;" : Convert.ToInt32(dr["CallTempStatus"].ToString()) == (int)Enums.eTempCallStatus.CallNotPick ? "" : "";

                                <tr data-tempcalls="@dr["CallTempStatus"].ToString()"
                                    data-partid="@dr["ID"].ToString()" style="@csstemp">
                                    <td class="text-center">@calltempst</td>
                                    <td class="text-center">@(srno++)</td>
                                    <td class="text-left">@dr["TrainingCenter"]</td>
                                    @*<a href="~/Participant/AddPartCalling?PartId=@dr["ID"]" target="_blank" style="float: left; width: 95px !important">*@
                                    <td class="" width="20%">

                                        <a id="hrfphoneno-@dr["ID"]" href="javascript:void(0);" onclick="QuestionBind('@dr["ID"]',' @dr["PhoneNo"]')">
                                            <strong class="" style="color:#3131d3;">
                                                <img style="float: left; margin-right: 6px; margin-top: 2px" src="~/Content/images/Phone_icon.png" alt="Alternate Text" width="14" height="14" />
                                                @dr["PhoneNo"]
                                            </strong>
                                        </a>

                                        @*<a id="hrfphoneno-@dr["ID"]" href="~/Participant/AddPartCalling?PartId=@dr["ID"]" target="_blank">
                <strong class="" style="color:#3131d3;">
                    <img style="float: left; margin-right: 6px; margin-top: 2px" src="~/Content/images/Phone_icon.png" alt="Alternate Text" width="14" height="14" />
                    @dr["PhoneNo"]
                </strong>
            </a>*@
                                    </td>
                                    <td class="text-left">@dr["FullName"]</td>
                                    @*<td class="text-center" style="background: #604ccf !important; color: #fff !important; "><strong>@dr["RegID"]</strong></td>
        <td class="text-left">@dr["EmailID"]</td>*@
                                    @*<td class="text-center">&times;&times;&times;&times;&times;&times;&times;&times;&times;@Regex.Match(dr["AadharCardNo"].ToString(), @"(.{3})\s*$")</td>*@
                                    <td class="text-left">@dr["BatchName"]</td>
                                    <td class="text-center">@dr["BatchStartDate"]</td>
                                    <td class="text-center">@dr["BatchEndDate"]</td>
                                    <td class="text-center">@(CommonModel.FormateDtDMY(dr["maxRemarkDate"].ToString()))</td>
                                    <td class="text-center">@dr["RemarkStatusCall"]</td>

                                    <td class="text-center" style="word-break:break-word !important;">@dr["CallStatusReportedBy"]</td>

                                    <td class="text-center">@(CommonModel.FormateDtDMY(dr["maxRemarkDateCallDone"].ToString())) </td>
                                    <td class="text-center" style="word-break:break-word !important;">@dr["LastCallSTReportedBy"]</td>
                                    <td class="text-center">@dr["CourseName"]</td>
                                    <td class="text-center"><strong>@dr["AssessmentScore"]</strong></td>
                                </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>

</div>