@using System.Data
@using System.Text.RegularExpressions;
@using Hunarmis.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date,
    table.dataTable td.dt-type-numeric,
    table.dataTable td.dt-type-date {
        text-align: left !important;
    }
</style>
<div class="table-responsive">
    <table class="table table-striped nowrap table-bordered dataTable exampleDatatable no-footer" id="tbl">
        <thead class="text-center">
            <tr>
                <th class="text-center tblth">Srno.</th>
                <th class="text-center tblth">Name</th>
                @*<th class="text-center tblth">Registration ID</th>*@
                <th class="text-center tblth">Batch Name</th>
                <th class="text-center tblth">Batch Start Date</th>
                <th class="text-center tblth">Batch End Date</th>
                <th class="text-center tblth">Course</th>
                <th class="text-center tblth">Assessment<br /> Score</th>
                <th class="text-center tblth">Attendance %</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (dt.Rows.Count > 0)
                {
                    int srno = 1;
                    foreach (DataRow dr in dt.Rows)
                    {
                        <tr>
                            <td class="text-center">@(srno++)</td>
                            <td class="text-left">@dr["FullName"]</td>
                            @*<td class="text-center text-white" style="background: #604ccf !important; color: #fff !important"><strong>@dr["RegID"]</strong></td>*@
                            @*<td class="text-center">&times;&times;&times;&times;&times;&times;&times;&times;&times;@Regex.Match(dr["AadharCardNo"].ToString(), @"(.{3})\s*$")</td>*@
                            <td class="text-left">@dr["BatchName"]</td>
                            <td class="text-center">@dr["BatchStartDate"]</td>
                            <td class="text-center">@dr["BatchEndDate"]</td>
                            <td class="text-center">@dr["CourseName"]</td>
                            <td class="text-center"><strong>@dr["AssessmentScore"]</strong></td>
                            <td class="text-center"><strong>@dr["SlotAttendancePercent"]</strong></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
