@using System.Data
@using System.Text.RegularExpressions;
@using Hunarmis.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date,
    table.dataTable td.dt-type-numeric,
    table.dataTable td.dt-type-date {
        text-align: left !important;
    }
</style>
<div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table table-striped nowrap table-bordered dataTable exampleDatatable no-footer" id="tbl">
            <thead class="text-center">
                <tr>
                    <th class="text-center tblth">Srno.</th>
                    @if (!User.IsInRole(CommonModel.RoleNameCont.Viewer))
                    {
                        <th class="text-center tblth">Edit / Placement<br /> Tracker </th>
                    }
                    @*<th class="text-center tblth"></th>*@
                    <th class="text-center tblth">Center Name<br />/Location</th>
                    <th class="text-center tblth">Phone No</th>
                    <th class="text-center tblth">Name</th>
                    @*<th class="text-center tblth">Registration ID</th>*@
                    <th class="text-center tblth">Email ID</th>
                    @*<th class="text-center tblth">Aadhar <br />Card No.</th>*@
                    <th class="text-center tblth">Batch Name</th>
                    <th class="text-center tblth">Batch Start Date</th>
                    <th class="text-center tblth">Batch End Date</th>
                    <th class="text-center tblth">Course</th>
                    @*<th class="text-center tblth">Status/Date</th>
                        <th class="text-center tblth">Reported By</th>*@
                    <th class="text-center tblth">Assessment<br /> Score</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1;
                        foreach (DataRow dr in dt.Rows)
                        {
                            <tr>
                                <td class="text-center">@(srno++)</td>
                                <td class="text-center">
                                    @if (!User.IsInRole(CommonModel.RoleNameCont.Viewer))
                                    {
                                        if (User.IsInRole(CommonModel.RoleNameCont.Mobilizer))
                                        {
                                            if (!string.IsNullOrWhiteSpace(dr["EntryReportedBy"].ToString()) && !string.IsNullOrWhiteSpace(MvcApplication.CUser.UserId.ToLower()))
                                            {
                                                if (dr["EntryReportedBy"].ToString().ToLower() == MvcApplication.CUser.UserId.ToLower())
                                                {
                                                    <a href="~/Participant/AddParticipant?Id=@dr["ID"]" class="check-icon" target="_blank" title="Participant Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <a href="~/Participant/AddParticipant?Id=@dr["ID"]" class="check-icon" target="_blank" title="Participant Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        }
                                    }

                                    @if (!User.IsInRole(CommonModel.RoleNameCont.Mobilizer) && !User.IsInRole(CommonModel.RoleNameCont.Viewer))
                                    {
                                        if (!string.IsNullOrWhiteSpace(dr["AssessmentScore"].ToString()) && dr["AssessmentScore"].ToString() != "0")
                                        {
                                            <button type="button" style="@(dr["PlaceTrackerEditColor"]); margin-top: 8px;" class="btnpop check-icon" data-id="@dr["ID"]" data-placementrackerid="@dr["maxPlaceTrackerID"]" data-placetrackerdistrictId="@dr["PlaceTrackerDistrictId"]" title="Placement Tracker">
                                                <i class="fa fa-suitcase"></i>
                                            </button>
                                        }
                                    }

                                </td>
                                <td class="text-left">
                                    @dr["TrainingCenter"]
                                    /<br />@dr["DistrictName"]
                                </td>
                                <td class="" width="20%">
                                    @dr["PhoneNo"]
                                </td>
                                <td class="text-left">@dr["FullName"]</td>
                                @*<td class="text-center text-white" style="background: #604ccf !important; color: #fff !important"><strong>@dr["RegID"]</strong></td>*@
                                <td class="text-left">@dr["EmailID"]</td>
                                @*<td class="text-center">&times;&times;&times;&times;&times;&times;&times;&times;&times;@Regex.Match(dr["AadharCardNo"].ToString(), @"(.{3})\s*$")</td>*@
                                <td class="text-left">@dr["BatchName"]</td>
                                <td class="text-center">@dr["BatchStartDate"]</td>
                                <td class="text-center">@dr["BatchEndDate"]</td>
                                <td class="text-center">@dr["CourseName"]</td>
                                @*<td class="text-center">@dr["CurrentStatus"]/<br />@dr["CurrentReportedDate"] </td>
                                    <td class="text-center" style="word-break:break-word !important;">@dr["CurrentReportedByName"]</td>*@
                                <td class="text-center"><strong>@dr["AssessmentScore"]</strong></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="15" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>

</div>