@using Hunarmis.Manager;
@using System.Data;

@{
    ViewBag.BasicTitle = "Basic Information";
    ViewBag.Title = "Placement Tracker";
    ViewBag.Industry = "Industry Information";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Participant List";
    ViewBag.SemiTitleLink = "/Participant/ParticipantList";
    string IsSadmin = string.Empty;
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}
<style>
    .accord {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    .arrows {
         float: right;
    }
</style>
<!-- Modal Structure -->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">*@

            @if (dt.Rows.Count > 0)
            {
                foreach (DataRow dr in dt.Rows)
                {
                    @*<div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">@ViewBag.Title: <span class="regis"> Reg ID : @dr["RegID"]</span></h5>
                        <button type="button" class="clos-btn" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>*@
                    @*<div class="modal-body">*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="">
                                    <div class="panel-bodys">
                                        <div class="manage-input">
                                            <div class="card1">
                                                <!--<h4 class="semi-title accordions">
                                                    Basic Details
                                                    <span class="arrows"><i class="fa fa-arrow-circle-down"></i></span>
                                                </h4>
                                                <div class="accord">
                                                    <div class="basic-info">-->
                                                        @*<div class=""><p>Reg ID:  <span> @dr["RegID"]</span></p></div>*@
                                                        <!--<div class=""><p>Name:  <span> @dr["Name"]</span></p></div>
                                                        <div class=""><p>Phone No:  <span> @dr["PhoneNo"]</span></p></div>
                                                        <div class=""><p>Course Name:  <span> @dr["CourseName"]</span></p></div>
                                                        <div class=""><p>Batch Name: <span> @dr["BatchName"]</span></p></div>
                                                        <div class=""><p>Start Batch Name:  <span> @CommonModel.FormateDtDMY(dr["BatchStartDate"].ToString())</span></p></div>
                                                        <div class=""><p>End Batch Name:  <span> @CommonModel.FormateDtDMY(dr["BatchEndDate"].ToString())</span></p></div>
                                                        <div class=""><p>Training Agency Name:  <span> @dr["TrainingAgencyName"]</span></p></div>
                                                        <div class=""><p>Training Center:  <span> @dr["TrainingCenter"]</span></p></div>
                                                    </div>
                                                </div>-->
                                                @*<h4 class="semi-title">
                                                    @ViewBag.Title
                                                </h4>*@
                                                <div class="">
                                                    <div class="basic-info">
                                                        <div class=""><p>Employee Type:  <span>  @dr["EmployeeTypeName"]</span></p></div>
                                                        <div class=""><p>Industry:  <span> @dr["IndustryName"]</span></p></div>
                                                        <div class=""><p>Company Name:  <span>  @dr["CompanyName"]</span></p></div>
                                                        <div class=""><p>Designation:  <span>  @dr["Designation"]</span></p></div>
                                                    </div>
                                                    <h5>
                                                        Work Location
                                                    </h5>
                                                    <div class="basic-info">
                                                        <div class=""><p>State:  <span> @dr["PlaceStateName"]</span></p></div>
                                                        <div class=""><p>District:  <span> @dr["PlaceDistrictName"]</span></p></div>
                                                        <div class=""><p>Pin Code:  <span> @dr["PinCode"]</span></p></div>
                                                       
                                                    </div>
                                                    <h5>
                                                        Date Of Joining
                                                    </h5>
                                                    <div class="basic-info">
                                                        <div class=""><p>Date of Offer:  <span> @CommonModel.FormateDtDMY(dr["DateofOffer"].ToString())</span></p></div>
                                                        <div class=""><p>Start Date: <span> @CommonModel.FormateDtDMY(dr["DOJStartDate"].ToString())</span></p></div>
                                                        <div class=""><p>End Date:  <span> @CommonModel.FormateDtDMY(dr["DOJEndDate"].ToString())</span></p></div>
                                                        @if (!string.IsNullOrWhiteSpace(dr["UOLPath"].ToString()))
                                                        {
                                                            <div class=""><p>Upload Offer Letter:  <span> <a href="@(CommonModel.GetBaseUrl() + dr["UOLPath"])" target="_blank" class="down-btn"><i class="fa fa-download"></i></a></span></p></div>
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(dr["UOLPath"].ToString()))
                                                        {
                                                            <div class=""><p>Upload Appointment Letter:   <span> <a href="@(CommonModel.GetBaseUrl() + dr["UALPath"])" target="_blank" class="down-btn"><i class="fa fa-download"></i></a></span></p></div>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    @*</div>*@
                }
            }
            else
            {
                <h4 class="text-capitalize text-danger text-center">Record Not Found !</h4>
            }
            @*<div class="modal-footer">
                <button type="button" class="btn-mat" data-dismiss="modal">Close</button> &nbsp; &nbsp;
            </div>
        </div>
    </div>
</div>*@

@*<script>
    let acc = document.getElementsByClassName("accordions");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            let accord = this.nextElementSibling;
            if (accord.style.display === "block") {
                accord.style.display = "none";
            } else {
                accord.style.display = "block";
            }
        });
    }
</script>*@