@model Hunarmis.Models.FilterModel
@using Hunarmis.Manager
@{
    ViewBag.Title = "Participant List";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Add Participant";
    ViewBag.SemiTitleLink = "/Participant/AddParticipant";
    string IsSadmin = string.Empty;
}
<style>
    .table th {
        font-size: 14px;
        background: #fff;
    }

    .table td {
        font-size: 13px;
    }

    .dataTables_filter, .dataTables_length {
        margin-bottom: 15px;
    }

    .actives2 {
        color: #009CFF !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }

    table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
        padding: 10px 6px !important
    }

    .box-gap {
        padding: 0 10px !important
    }

    .dt-input {
        margin-right: 10px
    }

    .panel {
        min-height: 500px;
    }

    div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button {
        color: #fff !important
    }

    .downs-btn {
        float: right
    }

    .modal {
        padding: 20px !important
    }

    .modal-dialog {
        width: 100%;
        border: 2px solid #F5F5F5
    }

    .modal-title {
        text-align: center;
        font-size: 24px;
        color: #000
    }

    .clos-btn {
        float: right;
        padding: 3px 7px;
        background: #D34829;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
        border: none;
        margin-top: -20px
    }

    .down-btn {
        padding: 2px 7px;
        border-radius: 4px;
        background: #e17c0f;
        color: #fff;
    }
    /*.basic-info div {
        flex-basis: 48%
    }*/
    .panel-bodys {
        margin-bottom: 10px;
    }

    .btn-mat {
        background: #009CFF;
        padding: 2px 8px;
        border-radius: 4px;
        color: #fff;
        border: none
    }

    .down-btn a:hover, .down-btn:hover {
        color: #fff !important
    }

    .semi-title {
        background: #2F17B5;
    }

    .panel-bodys h5 {
        color: #e17c0f;
    }

    .box-bg {
        padding: 15px;
        background: #F5F5F5;
        border-radius: 5px;
    }

        .box-bg label {
            text-align: left !important;
            font-weight: bold;
            color: #000;
        }

    .modal-header {
        padding: 10px 15px 0;
    }

    .regis {
        color: #2F17B5
    }

    .form-flex {
        display: flex;
        gap: 30px
    }

        .form-flex div {
            flex: 1;
        }

    .UploadCheckFile {
        background: #fff;
        width: 100%;
        padding: 4px 0;
    }
</style>

<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <p class="bord-btm pad-ver text-main text-bold">
                            @ViewBag.Title
                            <span id="div-download" class="downs-btn"></span>
                        </p>
                    </div>

                    <fieldset class="border rounded-3 p-3">
                        @using (Html.BeginForm("GetPartList", "Participant", FormMethod.Get, new { @class = "", @id = "formid", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
                        {
                            <div class="col-md-12">@Html.Partial("_Alerts")</div>
                            <div class="panel-bodys">
                                <div class="bg-light rounded h-100 p-4">
                                    <div class="row mb-3">
                                        <div class="position-relative">
                                            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-1 col-lg-offset-1" })
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.CourseId, CommonModel.GetCourses(true), "Select", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="position-relative">
                                            @Html.LabelFor(model => model.BatchId, htmlAttributes: new { @class = "control-label col-md-1" })
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.BatchId, new List<SelectListItem>(), "Select", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.BatchId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </fieldset>
                    <div class="box-gap">
                        <div class="row">
                            <div class="col=md-12" id="div-download"></div>
                            <div class="col=md-6"></div>
                            <div class="col=md-6"></div>
                            <div class="col=md-6"></div>
                            <div class="col-md-12">
                                <div id="subdata"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div-popmodel"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Custom/Master.js"></script>

    <script>
        $(document).ready(function () {
            //    GetYearList("Year", 0);
            //    GetMonthList("Month", 0);
            //    GetDistrict("DistrictId", 0);
            //    $('#DistrictId').change(function () {
            //        GetBlock("BlockId", 0, $(this).val());
            //    });
            //    $('#BlockId').change(function () {
            //        GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $(this).val());
            //    });
            //    $('#PanchayatId').change(function () {
            //        GetVillage("VOId", 0, $('#DistrictId').val(), $('#BlockId').val(), $(this).val());
            //    });
            //    /* Role Wise */
            //    BindRolewise("DistrictId", "BlockId", "PanchayatId", "VOId");

            $('select[name="CourseId"]').find('option[value="1"]').attr("selected", true).change();
            $('#BatchId').change(function (e) {
                e.preventDefault();
                BindData();
            });
            $('#CourseId').change(function (e) {
                e.preventDefault();
                debugger;
                BindModuleWiseBatches("BatchId", "", 2, '0', $(this).val(), 0)
                BindData();
            });
            BindData();
            //setTimeout(function () {

            //    //$('select[name="BatchId"]').find('option[value="21"]').attr("selected", true).change();
            //    BindData();
            //}, 200);
            $("#formid").submit(function (e) {
                e.preventDefault();
                BindData();
            });
            $(document).on('change', '#Salary', function (e) {
                var value = $(this).val();
                var validValue = value.replace(/[^0-9.]/g, '');
                var decimalMatch = validValue.match(/^\d*(\.\d{0,2})?$/);
                if (decimalMatch) {
                    $(this).val(validValue);
                } else {
                    $(this).val(value.slice(0, -1));
                }
            });
             //model pop call
            $(document).on('change', '#StateId', function (e) {
                e.preventDefault();
                BindDistrict("DistrictId", '', "1", $(this).val(),2);
            });
            $(document).on('click', '.btnpop', function (e) {
                $('#div-popmodel').html('');
                debugger;
                var button = $(e.relatedTarget); // Button that triggered the modal
                var id = button.data('id'); // Extract the id from data-* attributes
                var datapartid = $(this).attr('data-id'); // Extract the id from data-* attributes
                var dataplacementrackerid = $(this).attr('data-placementrackerid') != '@Guid.Empty' ? $(this).attr('data-placementrackerid') : '@Guid.Empty'; // Extract the id from data-* attributes
                var placetrackerdistrictId = $(this).attr('data-placetrackerdistrictId') != '' ? $(this).attr('data-placetrackerdistrictId') : null; // Extract the id from data-* attributes

                var modal = $(this);

                // Load content via AJAX
                $.ajax({
                    url: '@Url.Action("AddPlacementTracker", "Participant")',
                    data: { PartId: datapartid, Id: dataplacementrackerid },
                    async: false,
                    success: function (result) {
                        $('#div-popmodel').html(result);
                        $("#myModal").modal({ backdrop: "static" });
                       

                        BindDistrict("DistrictId", '', "1", $('#StateId').val(),2);
                        if (dataplacementrackerid != '@Guid.Empty') {
                            BindPlacementDetailData(datapartid, dataplacementrackerid);
                            if (placetrackerdistrictId != null) {
                                $("#DistrictId").val(placetrackerdistrictId);
                            }
                            //moment($("#DateofOffer").val()).format("DD-MMM-YYYY");
                            //moment($("#DOJStartDate").val()).format("DD-MMM-YYYY");
                            //if ($("#DOJEndDate").val()!='') {
                            //    moment($("#DOJEndDate").val()).format("DD-MMM-YYYY");
                            //}
                        }
                        else {
                            $("#formidpop")[0].reset();
                            $('#StateId').val('0'); $('#DistrictId').val('');
                        }

                        $("#DateofOffer").datepicker({
                            //beforeShow: customRangeEndComplt,
                            //dateFormat: 'mm-dd-yy',
                            dateFormat: 'dd-M-yy',
                            // changeMonth: true,
                            //changeYear: true,
                            maxDate: new Date(),
                            onSelect: function (d, i) {
                                if (d !== i.lastVal) {
                                    $(this).change();
                                }
                            }
                        });

                        $("#DOJStartDate").datepicker({
                            //defaultDate: "+1w",
                            changeMonth: true,
                            numberOfMonths: 1,
                            dateFormat: 'dd-M-yy',
                            maxDate: new Date(),
                            onClose: function (selectedDate) {
                                $("#DOJEndDate").datepicker("option", "minDate", selectedDate);
                            }
                        });
                        $("#DOJEndDate").datepicker({
                            //defaultDate: "+1w",
                            changeMonth: true,
                            numberOfMonths: 1,
                            dateFormat: 'dd-M-yy',
                            maxDate: new Date(),
                            onClose: function (selectedDate) {
                                $("#DOJStartDate").datepicker("option", "maxDate", selectedDate);
                            }
                        });



                    }
                });
            });

           // $(document).on('click', "#btnsubmitpop #formidpop ", function (event) {
            $(document).on('submit', "#formidpop", function (event) {
                //button[type='submit']
                event.preventDefault();
                //jQuery.event.trigger("ajaxStart");
                debugger;
                //var formDataJson = $('#formid').serialize();//formData.append('tax_file', $('input[type=file]')[0].files[0]);

                //var vl = $("#formid").validate();
                ////var formData = new FormData($('#formid')[0]);

                var formData = new FormData();
                var isvalid = $("#formidpop").valid(); //$('#formid').validate();
                //var formData = $(this).serialize();
                var formDataSerialized = $("#formidpop").serialize();

                formDataSerialized.split('&').forEach(function (item) {
                    var parts = item.split('=');
                    formData.append(decodeURIComponent(parts[0]), decodeURIComponent(parts[1]));
                });

                 if ($('#UploadOfferLetter').get(0).files.length != 0) {
                      formData.append('UploadOfferLetter', $('#UploadOfferLetter')[0].files[0]);
                  }
                  if ($('#UploadAppointmentLetter').get(0).files.length != 0) {
                      formData.append('UploadAppointmentLetter', $('#UploadAppointmentLetter')[0].files[0]);
                }

            if (isvalid) {
                $('#btnsubmitpop').attr('disabled', true);
                $.ajax({
                    type: "POST",
                    url: document.baseURI + "/Participant/PostPlacementTracker/",
                    data: formData,
                    //use contentType, processData for sure.
                    contentType: false,
                     processData: false,
                    dataType: 'json',
                    //contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            BindData();
                            //jQuery.event.trigger("ajaxStop");
                            //$('#btnsubmitpop').attr('disabled', true);
                            if ($('#PlacementTrackerId_pk').val() == '@Guid.Empty') {
                                $("#formidpop")[0].reset();
                               // BindStateList("StateId", '', "1");
                                BindDistrict("DistrictId", '', "1" ,0,2);
                            }
                        }
                        else {
                            $('#btnsubmitpop').attr('disabled', false);
                            toastr.error("Error", resp.Message);
                        }
                    },
                    error: function (req, error) {
                        $('#btnsubmitpop').attr('disabled', false);
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        //jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                //CreateToasterMessage("Error", "All Record Validate !!", "error");
                toastr.error("Error", "All Record Validate !!");
                // jQuery.event.trigger("ajaxStop");
                return false;
            }
        });

        });

        function customRangeEndComplt(input) {
            return {
                minDate: (input.id == "DateofOffer" ? $("#DOJStartDate").datepicker("getDate") : new Date((currentYear - 1), 12, 1))
            };
        }

        function BindData() {
            $("#subdata").html('');
            var filtermodel = new Object();
            filtermodel.Type = 0;//$('#Type').val() == '' ? '' : $('#Type').val();
            filtermodel.Search = ""; //$('#Search').val() == '' ? '' : $('#Search').val();
            filtermodel.BatchId = $('#BatchId').val() == '' ? "0" : $('#BatchId').val();
            filtermodel.CourseId = $('#CourseId').val() == '' ? "0" : $('#CourseId').val();
            //filtermodel.BatchId = $('#BatchId').val() == '' ? '' : $('#BatchId').val();
            var formData = $('#formid').serialize();
            $('#global-loader').css('background', 'transparent').css('display', 'block');
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Participant/GetPartList",
                data: filtermodel,//JSON.stringify({ 'Roles': '' }),
                //cache: false,
                async: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tbl')) {
                            $("#tbl").dataTable().fnDestroy();
                        }
                        table = $('#tbl').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            "dom": '<"pull-left"f><"pull-right"l>tip',
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            order: [[0, 'asc']],
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Download</span>', title: 'Participant Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'Participant List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '300px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html(res.Data);
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //$('#subdata').html("<h4 class='text-center text-danger'>" + errormsg +"!</h4>");
                    $('#global-loader').css('background', 'transparent').css('display', 'none');
                    //Do To Message display
                }
            });
        }

        function BindPlacementDetailData(ParticipantId, PlacementTrackerId) {
            $("#div-viewpopmodel").html('');
            var filtermodel = new Object();
            filtermodel.ParticipantId = ParticipantId;
            filtermodel.PlacementTrackerId = PlacementTrackerId;
            $('#global-loader').css('background', 'transparent').css('display', 'block');
            if (PlacementTrackerId != '' && PlacementTrackerId != undefined && PlacementTrackerId != null) {
                $.ajax({
                    type: "Get",
                    url: document.baseURI + "/Participant/PlacementTrackerDetail",
                    data: filtermodel,
                    //cache: false,
                    async: false,
                    success: function (res) {
                        if (res) {
                            $('#global-loader').css('background', 'transparent').css('display', 'none');
                            $('#div-viewpopmodel').html(res);
                            $("#myModal").modal({ backdrop: "static" });
                        }
                        else {
                            $("#div-viewpopmodel").html("<h4 class='text-center text-danger'>" + res + "!</h4>");
                            $('#global-loader').css('background', 'transparent').css('display', 'none');
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        $('#div-viewpopmodel').html("<h4 class='text-center text-danger'>" + errormsg + "!</h4>");
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                        //Do To Message display
                    }
                });
            }
            else {
                $('#div-popmodel').html("<h4 class='text-center text-danger'> Placement Tracker Details Not Found !</h4>");
            }

        }


        function setTwoNumberDecimal(event) {
            if (this.value != null) {
                this.value = parseFloat(this.value).toFixed(2);
            }
        }


    </script>
}

