@using System.Data
@using Hunarmis.Manager
@{
    DataSet ds = new DataSet();
    DataTable dt = new DataTable();
    DataTable dtCall = new DataTable();
    DataTable dtplacement = new DataTable();
    DataTable dtAtten = new DataTable();
    DataTable dtOtherDet = new DataTable();
    if (Model != null)
    {
        ds = Model;
        dt = ds.Tables[0];
        dtCall = ds.Tables[1];
        dtplacement = ds.Tables[2];
        dtAtten = ds.Tables[3];
        dtOtherDet = ds.Tables[4];
    }
}

<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/Content/IndiUser/components.min.css" rel="stylesheet" id="style_components" type="text/css">
<link href="/Content/IndiUser/plugins.min.css" rel="stylesheet" type="text/css">
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN : LOGIN PAGE 5-2 -->
<div class="container-fluid ParticipantUser">
    <div class="row mt-20">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-box p-0">
                <div class="card-head">
                    <div class="title" style="text-transform:uppercase;">
                        @if (dt.Rows.Count > 0)
                        {
                            <span>Welcome </span> @dt.Rows[0]["Name"]
                        }
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-3" title="Course">

                            <a href="~/UserProfile/DownLoadCretificateIF?CPath=@dt.Rows[0]["CourseId"]" style="color:#fff;text-decoration:underline;" target="_blank">
                                <div class="d-flex align-items-center gap-2 main-content-card bg-light-primary mb-0 shadow-none" style="padding:10px;">
                                    <div class="flex-shrink-0">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <div>
                                        <h5 class="f-21 text-uppercase">Course</h5>
                                        <h5 class="f-14" title="@dt.Rows[0]["CourseName"]">
                                            @*<a href="/@(CommonModel.GetBaseUrl() + dt.Rows[0]["CFilePath"])" style="color:#fff;text-decoration:underline;" target="_blank">@dt.Rows[0]["CourseName"]</a>*@
                                            <a href="~/UserProfile/DownLoadCretificateIF?CPath=@dt.Rows[0]["CourseId"]" style="color:#fff;text-decoration:underline;" target="_blank">@dt.Rows[0]["CourseName"]</a>
                                        </h5>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-xs-12 col-md-3" title="Soft Skills Curriculum">
                            <a href="~/UserProfile/DownLoadSoftSkill" style="color:#fff;text-decoration:underline;" target="_blank">
                                <div class="d-flex align-items-center gap-2 main-content-card bg-light-secondary mb-0 shadow-none" style="padding:10px;">
                                    <div class="flex-shrink-0">
                                        <i class="fa fa-newspaper-o"></i>
                                    </div>
                                    <div>
                                        <h5 class="f-21 text-uppercase">Soft Skills</h5>
                                        @*<h3 class="f-14"><a href="~/Uploads/CourseFiles/SoftSkillsCurriculumDec2023.pdf" style="color:#fff;text-decoration:underline;" target="_blank">Download..</a></h3>*@

                                    </div>
                                </div>
                            </a>
                        </div>
                        @*<div class="col-xs-12 col-md-3" title="Resume Format">
                                <a href="~/Uploads/ResumeTemplate.zip" style="color:#fff;text-decoration:underline;" download target="_blank">
                                    <div class="d-flex align-items-center gap-2 main-content-card bg-light-primary mb-0 shadow-none" style="padding:10px;">
                                        <div class="flex-shrink-0">
                                            <i class="fa fa-newspaper-o"></i>
                                        </div>
                                        <div>
                                            <h5 class="f-21 text-uppercase">Resume Format</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>*@
                    <div class="col-xs-12 col-md-3" title="Resume Format">
                        @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["PartResumeId_pk"].ToString()))
                        {
                            <a href="~/UserProfile/ResumeTemplate?ID=@dt.Rows[0]["PartResumeId_pk"]" style="color:#fff;text-decoration:underline;" target="_blank">
                                <div class="d-flex align-items-center gap-2 main-content-card bg-light-primary mb-0 shadow-none" style="padding:10px;">
                                    <div class="flex-shrink-0">
                                        <i class="fa fa-newspaper-o"></i>
                                    </div>
                                    <div>
                                        <h5 class="f-21 text-uppercase">Resume Format</h5>
                                    </div>
                                </div>
                            </a>
                        }
                        else{
                        <a href="~/UserProfile/ResumeTemplate" style="color:#fff;text-decoration:underline;" target="_blank">
                            <div class="d-flex align-items-center gap-2 main-content-card bg-light-primary mb-0 shadow-none" style="padding:10px;">
                                <div class="flex-shrink-0">
                                    <i class="fa fa-newspaper-o"></i>
                                </div>
                                <div>
                                    <h5 class="f-21 text-uppercase">Resume Format</h5>
                                </div>
                            </div>
                        </a>
                        }

                    </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="d-flex align-items-center gap-2 main-content-card bg-light-secondary mb-0 shadow-none" style="padding:10px;">
                                    <div class="flex-shrink-0">
                                        <i class="fa fa-check" aria-hidden="true" style="position: absolute;color: #fff;font-size: 15px;"></i>
                                        <i class="fa fa-certificate"></i>
                                    </div>
                                    <div>
                                        @if (dt.Rows.Count > 0)
                                        {
                                            <a href="~/UserProfile/DownLoadCretificate?UId=@dt.Rows[0]["Id"]&&CId=@dt.Rows[0]["CourseId"]&&BId=@dt.Rows[0]["BatchId"]" style="color: #fff;text-decoration:underline;" target="_blank">
                                                <h5 class="f-21 text-uppercase">Learner's Certificate</h5>
                                            </a>
                                        }
                                        else
                                        {
                                            <h5 class="f-21 text-uppercase">Learner's Certificate</h5>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-box p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="timeline  white-bg white-bg">
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Basic Details</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <a class="btn btn-circle red btn-sm" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="Default.aspx">
                                                                Details
                                                            </a>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <div class="basic-info">

                                                    <div class="row" style="width:100%;">
                                                        <div class="col-xs-12 col-md-8">
                                                            @if (dt.Rows.Count > 0)
                                                            {
                                                                <div class=""><p>Reg ID:<span>@dt.Rows[0]["RegID"]</span></p></div>
                                                                @*<div class=""><p>Name  <span> : @dt.Rows[0]["Name"]</span></p></div>*@
                                                                <div class="">
                                                                    <p>
                                                                        Phone No:<span>
                                                                            @dt.Rows[0]["PhoneNo"]
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="">
                                                                    <p>
                                                                        Age:<span>
                                                                            @dt.Rows[0]["Age"]
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="">
                                                                    <p>
                                                                        Gender:<span>
                                                                            @dt.Rows[0]["Gender"]
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="">
                                                                    <p>EmailID:<span>@dt.Rows[0]["EmailID"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>Aadhar  <span> : @dt.Rows[0]["AadharCardNo"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>Qualification  <span> : @dt.Rows[0]["QualificationName"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>Pre-Training  <span> : @dt.Rows[0]["PreTrainingName"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>Target-Group  <span> : @dt.Rows[0]["TargetGroupName"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>Marital Status  <span> : @dt.Rows[0]["MaritalStatusName"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>No.Of Family  <span> : @dt.Rows[0]["NoofFamilyMembers"]</span></p>
                                                                </div>
                                                                <div class="">
                                                                    <p>Annual Income  <span> : @dt.Rows[0]["AnnualHouseholdincome"]</span></p>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="profile-Pic-user">
                                                                @if (dt.Rows.Count > 0)
                                                                {
                                                                    if (!string.IsNullOrWhiteSpace(dt.Rows[0]["SelfImagePath"].ToString()))
                                                                    {
                                                                        <img src="@(CommonModel.GetBaseUrl()+dt.Rows[0]["SelfImagePath"].ToString())" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/Content/images/girl-alumni.png" />
                                                                    }
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Batch Details</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <a class="btn btn-circle red btn-sm" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="Default.aspx">
                                                                Details
                                                            </a>

                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <div class="basic-info">
                                                    @if (dt.Rows.Count > 0)
                                                    {


                                                        <div class="">
                                                            <p>
                                                                Batch Name  <span>
                                                                    : @dt.Rows[0]["BatchName"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                Date  <span>
                                                                    : @dt.Rows[0]["BatchStartDate"]  To @dt.Rows[0]["BatchEndDate"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                Total Days  <span>
                                                                    : @dt.Rows[0]["TotalDays"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                State <span>
                                                                    : @dt.Rows[0]["StateName"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                District <span>
                                                                    : @dt.Rows[0]["DistrictName"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>Training Center<span> : @dt.Rows[0]["TrainingCenter"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                Training Agency<span>
                                                                    : @dt.Rows[0]["TrainingAgencyName"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>Trainer<span> : @dt.Rows[0]["TrainerName"]</span></p>
                                                        </div>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Attendance</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <button class="btn btn-circle red btn-sm" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                                Details
                                                            </button>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <div class="basic-info font-grey-cascade">
                                                    @if (dtAtten.Rows.Count > 0)
                                                    {
                                                        if (!string.IsNullOrWhiteSpace(dtAtten.Rows[0]["AttendanceStartDate"].ToString()))
                                                        {
                                                            <div class="">
                                                                <p>
                                                                    Date<span>
                                                                        : @dtAtten.Rows[0]["AttendanceStartDate"]
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        }
                                                        if (!string.IsNullOrWhiteSpace(dtAtten.Rows[0]["DurationInHours"].ToString()) && !string.IsNullOrWhiteSpace(dtAtten.Rows[0]["SumDurationMinutes"].ToString()))
                                                        {
                                                            <div class="">
                                                                <p>
                                                                    Duration<span>
                                                                        : @dtAtten.Rows[0]["DurationInHours"] Hrs @dtAtten.Rows[0]["SumDurationMinutes"] Min
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        }

                                                        if ((!string.IsNullOrWhiteSpace(dt.Rows[0]["TotalDays"].ToString()) || dt.Rows[0]["TotalDays"].ToString() == "0") && (!string.IsNullOrWhiteSpace(dtAtten.Rows[0]["DaysBetween"].ToString()) || dtAtten.Rows[0]["DaysBetween"].ToString() == "0"))
                                                        {
                                                            <div class="">
                                                                <p>
                                                                    Percentage(%) : <span>
                                                                        @(Convert.ToDecimal(dt.Rows[0]["TotalDays"].ToString()) / Convert.ToDecimal(dtAtten.Rows[0]["DaysBetween"].ToString()))%;
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM WITH GOOGLE MAP -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Assesment</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <button class="btn btn-circle red btn-sm" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                                Details
                                                            </button>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <div class="basic-info font-grey-cascade">
                                                    @if (dt.Rows.Count > 0)
                                                    {

                                                        <div class="">
                                                            <p>
                                                                AssessmentScore (%)<span>
                                                                    : @(!string.IsNullOrWhiteSpace(dt.Rows[0]["AssessmentScore"].ToString())? Math.Round(Convert.ToDecimal(dt.Rows[0]["AssessmentScore"]), MidpointRounding.ToEven):dt.Rows[0]["AssessmentScore"] )
                                                                </span>
                                                            </p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM WITH GOOGLE MAP -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Call Summary</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <button class="btn btn-circle red btn-sm" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                                Details
                                                            </button>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <div class="basic-info">
                                                    @foreach (DataRow row in dtCall.Rows)
                                                    {
                                                        foreach (DataColumn col in dtCall.Columns)
                                                        {
                                                            <div class="">
                                                                <p>
                                                                    @col.ColumnName<span>
                                                                        : @row[col.ColumnName]
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Post<br /> Placement <br /> Tracker</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <button class="btn btn-circle red btn-sm" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                                Details
                                                            </button>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"></span>
                                                <div class="basic-info">
                                                    @if (dtplacement.Rows.Count > 0)
                                                    {
                                                        <div class=""><p>Employee Type:  <span>  @dtplacement.Rows[0]["EmployeeTypeName"]</span></p></div>
                                                        <div class=""><p>Industry:  <span> @dtplacement.Rows[0]["IndustryName"]</span></p></div>
                                                        <div class=""><p>Company Name:  <span>  @dtplacement.Rows[0]["CompanyName"]</span></p></div>
                                                        <div class=""><p>Designation:  <span>  @dtplacement.Rows[0]["Designation"]</span></p></div>

                                                        <div class=""><p>State:  <span> @dtplacement.Rows[0]["PlaceStateName"]</span></p></div>
                                                        <div class=""><p>District:  <span> @dtplacement.Rows[0]["PlaceDistrictName"]</span></p></div>
                                                        <div class=""><p>Pin Code:  <span> @dtplacement.Rows[0]["PinCode"]</span></p></div>

                                                        <div class=""><p>Date of Offer:  <span> @CommonModel.FormateDtDMY(dtplacement.Rows[0]["DateofOffer"].ToString())</span></p></div>
                                                        <div class=""><p>Start Date: <span> @CommonModel.FormateDtDMY(dtplacement.Rows[0]["DOJStartDate"].ToString())</span></p></div>
                                                        <div class=""><p>End Date:  <span> @CommonModel.FormateDtDMY(dtplacement.Rows[0]["DOJEndDate"].ToString())</span></p></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Download<br /> Letters</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <button class="btn btn-circle red btn-sm" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                                Details
                                                            </button>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"></span>
                                                <div class="basic-info">
                                                    @if (dtplacement.Rows.Count > 0)
                                                    {
                                                        if (!string.IsNullOrWhiteSpace(dtplacement.Rows[0]["UOLPath"].ToString()))
                                                        {
                                                            <div class=""><p>Offer Letter :  <span> <a href="@(CommonModel.GetBaseUrl() + dtplacement.Rows[0]["UOLPath"])" target="_blank" class="down-btn"><i class="fa fa-download"></i></a></span></p></div>
                                                        }
                                                        if (!string.IsNullOrWhiteSpace(dtplacement.Rows[0]["UOLPath"].ToString()))
                                                        {
                                                            <div class=""><p>Appointment Letter :   <span> <a href="@(CommonModel.GetBaseUrl() + dtplacement.Rows[0]["UALPath"])" target="_blank" class="down-btn"><i class="fa fa-download"></i></a></span></p></div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <span class="timeline-badge-userpic">Additional<br /> Information</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    @*<a href="javascript:;" class="timeline-body-title font-blue-madison">heading</a>*@
                                                </div>
                                                @*<div class="timeline-body-head-actions">
                                                        <div class="btn-group">
                                                            <a class="btn btn-circle red btn-sm" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="Default.aspx">
                                                                Details
                                                            </a>

                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="timeline-body-content">
                                                <div class="basic-info">
                                                    @if (dtOtherDet.Rows.Count > 0)
                                                    {
                                                        <div class="">
                                                            <p>
                                                                @Hunarmis.Models.DplyPartName.NativeLanguage  <span>
                                                                    : @dtOtherDet.Rows[0]["NativeLangText"]
                                                                    &nbsp; &nbsp;@dtOtherDet.Rows[0]["NativeLanguage_Other"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        @Hunarmis.Models.DplyPartName.AddressSection
                                                        <div class="">
                                                            <p>
                                                                @Hunarmis.Models.DplyPartName.Address  <span>
                                                                    : @dtOtherDet.Rows[0]["Address"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                @Hunarmis.Models.DplyPartName.State  <span>
                                                                    : @dtOtherDet.Rows[0]["StateName"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                @Hunarmis.Models.DplyPartName.District <span>
                                                                    : @dtOtherDet.Rows[0]["DistrictName"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.City<span> : @dtOtherDet.Rows[0]["City"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>
                                                                @Hunarmis.Models.DplyPartName.Village<span>
                                                                    : @dtOtherDet.Rows[0]["Village"]
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.Pincode<span> : @dtOtherDet.Rows[0]["Pincode"]</span></p>
                                                        </div>

                                                        @Hunarmis.Models.DplyPartName.EmergencySection
                                                        <hr />

                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.EmergencyPersonName <span> : @dtOtherDet.Rows[0]["EmergencyPersonName"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.EmergencyContactNo <span> : @dtOtherDet.Rows[0]["EmergencyContactNo"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.EmergencyRelationship <span> : @dtOtherDet.Rows[0]["EmergencyRelationship"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.EmergencyMonthlyIncome <span> : @(!string.IsNullOrWhiteSpace(dtOtherDet.Rows[0]["EmergencyMonthlyIncome"].ToString())? Convert.ToInt32(dtOtherDet.Rows[0]["EmergencyMonthlyIncome"]) : dtOtherDet.Rows[0]["EmergencyMonthlyIncome"])</span></p>
                                                        </div>

                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.IDType <span> : @dtOtherDet.Rows[0]["IDTypeName"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.IDNo <span> : @dtOtherDet.Rows[0]["IDNo"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.SchoolPassoutYear <span> : @dtOtherDet.Rows[0]["SchoolPassoutYear"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.MonthlyIncome <span> : @(!string.IsNullOrWhiteSpace(dtOtherDet.Rows[0]["MonthlyIncome"].ToString())? Convert.ToInt32(dtOtherDet.Rows[0]["MonthlyIncome"]) : dtOtherDet.Rows[0]["MonthlyIncome"])</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.WorkExperience <span> : @dtOtherDet.Rows[0]["WorkExperienceName"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.KnowledgeofEnglishLanguage <span> : @dtOtherDet.Rows[0]["KnowledgeofEnglishLanguageText"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.Languagesknown <span> : @dtOtherDet.Rows[0]["LanguagesknownText"]  &nbsp; &nbsp;@dtOtherDet.Rows[0]["Languagesknown_Other"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.HouseholdAssetOwnership <span> : @dtOtherDet.Rows[0]["HousehlodAssetOwnershipText"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.AccesstoServices <span> : @dtOtherDet.Rows[0]["AccesstoServices"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.Whichskillingcourseshaveyoudoneearlier <span> : @dtOtherDet.Rows[0]["WhichskillingcourseshaveyoudoneearlierText"] &nbsp; &nbsp;@dtOtherDet.Rows[0]["Whichskillingcourseshaveyoudoneearlier_Other"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.HaveYouWorkedEarliear <span> : @dtOtherDet.Rows[0]["HaveYouWorkedEarliearText"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.AreyouIntrestedingettingajob <span> : @dtOtherDet.Rows[0]["AreyouIntrestedingettingajobText"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.Willyoubeinterestedinrelocatingforajob <span> : @dtOtherDet.Rows[0]["WillyoubeinterestedinrelocatingforajobText"]</span></p>
                                                        </div>
                                                        <div class="">
                                                            <p>@Hunarmis.Models.DplyPartName.HomeTown <span> : @dtOtherDet.Rows[0]["HomeTownText"]</span></p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
